<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	</head>
<body>
 <header>
   <div class="logo">
	   <h1><img alt="" src="/images/logo.png" id="logo"></h1>
   </div>
   <nav id="l">
       <div id="men">
        <span><a th:href="@{connexion1}">Connexion</a></span>
      </div>
   </nav>
  </header>
  <div class="page">
    <h1> VOUS ETES BELLE ET BIEN SUR SITE DE LYCEE KALTANE </h1>
   </div>
   <footer>
  <center>
	 <h1>LIYCEE MISKINE KALTANE </h1>
     <hr>
		
	</center>
</footer>
 </body>
</html>