<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/csRRs/style.css}"/>
	</head>
<body style="padding:0px;
	margin:0px;
	background: rgb(160, 155, 163);">
    <section Style="margin-top:130px;
	
	justify-content: center;" class="bulle1">
	  <h3></h3>
   <h5 style="font-family: andalus;
	letter-spacing: 2px;
	color: aliceblue;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" >Chers parents,</h5>
	           <h5 style="font-family: andalus;
	letter-spacing: 2px;
	color: aliceblue;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" >Nous les responsables de lycee Miskine Kaltane vous informe que le bulletin de votre enfant : </h5>
	           <h5 style="font-family: andalus;
	letter-spacing: 2px;
	color: aliceblue;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"> est disponible vous pouvez consulter via miskine.com avec son matricule : 11223ww et son mot de passe:11112221</h5>
	    voci l'essentiel de son travail    
	 <table style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="entete3">
	          <tr style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">
	            <td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">Moyenne</td> <td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp"> APPRECIATION</td> <td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">RANG</td> <td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp"> DECISION</td> 
	          </tr>
	          <tr style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">
					<td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">TTTT</td>
					<td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">AAAA</td>
					<td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">RRRR</td>
					<td style="padding: 15px 50px;
	border: 2px solid rgb(245, 245, 245);
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="tp">DDDD</td>
					
	 </tr>
			  
	   </table>
	      
	    </div>
	   </div>
	 </section>
  </body>
</html>